.itemList {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
}

.itemRow {
	display: flex;
	align-items: center;

	gap: 16px;
	padding: 16px;

	text-decoration: none;
	color: unset;
	background-color: #222;
	transition: background-color 0.1s ease-in-out;
}

.itemRow:hover {
	background-color: #333;
}

.itemRow:active {
	background-color: #151515;
}

.itemRow-info {
	display: flex;
	flex-direction: column;
}

.itemRow-title {

}

.itemRow-description {
	margin-top: 4px;
	font-size: .8rem;
}