.jobs {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.jobsItem-parent {
}

.jobsItem {
	display: flex;
	flex-direction: row;
	gap: 16px;
	background-color: #fff3;
	padding: 16px 16px;
	align-items: center;
}

.jobsItem-icon {
	width: 24px;
	height: 24px;
}

.jobsItem-info {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.jobsItem-label {
	font-weight: bold;
}

.jobsItem-message {
	user-select: text;
	font-size: .9rem;
}

.jobsItem-buttons {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.jobsItem-progress {
	width: 100%;
	background-color: #fff5;
	height: 6px;
}

.jobsItem-progress div {
	height: 6px;
	background-color: #44f;
}

.jobsItem-icon_failed {
	color: #ff4444;
}

.jobsItem-icon_complete {
	color: #44ff44;
}

.jobsItem-icon_running, .jobsItem-icon_waiting {
	color: #ffff44;
}

.jobButton {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	border-radius: 50%;
	margin: 0;
	cursor: pointer;
	transition: background-color 0.1s ease-in-out;
}

.jobButton:hover, .jobButton:focus {
	background-color: #fff5;
}

.jobButton:active {
	background-color: #fff2;
}