.videoList {
	display: flex;
	flex-direction: row;
	gap: 12px;
	flex-wrap: wrap;
}

.videoList-item {
	flex-shrink: 0;
	width: 100%;
	background-color: #333;
}

.videoList-item-thumbnail {
	flex-shrink: 0;
	width: 100%;
}

.videoList-item-thumbnail img {
	width: 100%;
	height: auto;
}

.videoList-item-info {
	padding: 8px;
	display: flex;
}

.videoList-item-meta {
	flex-shrink: 1;
	flex-grow: 1;
	overflow: hidden;
	min-width: 0;
}

.videoList-item-title {
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}

.videoList-item-subtitle {
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #aaa;
}

.videoList-item-buttons {
	display: flex;
	gap: 8px;
}