.videoPlayer {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 100;
}

.videoPlayer-player,
.videoPlayer-player > video,
.videoPlayer-player > canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	object-fit: contain;
}

.videoPlayer-player {
	pointer-events: unset !important;
}

.videoPlayer-info {
	position: absolute;
	top: -64px;
	left: 0;
	right: 0;

	height: 64px;
	display: flex;
	gap: 16px;
	align-items: center;
	padding: 8px 8px;
	background-color: #0008;
	transition-delay: 4.9s;
	transition: top 100ms, opacity 100ms;
	opacity: 0;
}

.videoPlayer.controls-visible .videoPlayer-info {
	transition-delay: 0s;
	top: 0;
	opacity: 1;
}

.videoPlayer-title {
	font-size: 1.2rem;
	font-weight: bold;
}

.videoPlayer-subtitle {
	font-size: .9rem;
}

.videoPlayer-controls {
	position: absolute;
	bottom: -64px;
	left: 0;
	right: 0;

	height: 64px;
	display: flex;
	gap: 16px;
	align-items: center;
	padding: 8px 8px;
	background-color: #0008;
	transition-delay: 4.9s;
	transition: bottom 100ms, opacity 100ms;
	opacity: 0;
}

.videoPlayer.controls-visible .videoPlayer-controls {
	transition-delay: 0s;
	bottom: 0;
	opacity: 1;
}

.videoPlayer-button {
	width: 48px;
	height: 48px;
	padding: 8px;
	border-radius: 24px;
	transition: 100ms all ease;
	cursor: pointer;
}

.videoPlayer-button:hover {
	background-color: #6665;
}

.videoPlayer-button:active {
	background-color: #3335;
}

.videoPlayer-button:not(.videoPlayer-menuButton):active {
	scale: 90%;
}

.videoPlayer-button svg {
	width: 32px;
	height: 32px;
}

.videoPlayer-currentTime {
	font-weight: bold;
}

.videoPlayer-scrubber {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	background: #fff2;
	opacity: 0;
	transition: bottom 100ms, height 1s 3s, opacity 1s 3s;
	cursor: pointer;
}

.videoPlayer.controls-visible .videoPlayer-scrubber {
	transition: bottom 100ms, height 100ms, opacity 100ms;
	bottom: 64px;
	height: 4px;
	opacity: 1;
}

.videoPlayer-scrubber:hover {
	height: 8px !important;
}

.videoPlayer-scrubber-bar {
	height: 100%;
}

.videoPlayer-scrubber-bar .played {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	background-color: #fff;
	pointer-events: none;
}

.videoPlayer-scrubber-bar .buffered {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	background-color: #fff5;
	pointer-events: none;
}

.videoPlayer-menuButton {
	position: relative;
}

.videoPlayer-button-menu {
	background: #000D;
	position: absolute;
	bottom: 100%;
	left: -100px;
	width: 250px;
}

.videoPlayer-button-menu-title {
	font-weight: bold;
	padding: 8px 12px;
	border-bottom: 1px solid #fff;
}

.videoPlayer-button-menu-list {
	max-height: 200px;
	overflow-y: scroll;
}

.videoPlayer-button-menu-item {
	padding: 8px 12px;
}

.videoPlayer-button-menu-item.active {
	background-color: #fff3;
}

.videoPlayer-button-menu-item:hover {
	background-color: #fff5;
}

.videoPlayer-scrubber:hover .videoPlayer-scrubber-overlay {
	display: block;
}

.videoPlayer-scrubber-overlay {
	width: 300px;
	display: none;
	position: absolute;
	bottom: 12px;
	left: 0px;
	color: #fff;
	font-weight: bold;
	background-color: #000A;
	text-align: center;
	box-shadow: 0 0 8px #000;
}

.videoPlayer-scrubber-overlay canvas {
	width: 100%;
	height: auto;
}

.videoPlayer-volume-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-x: clip;
	transition: width 100ms ease-in-out !important;
	gap: 16px;
}

.videoPlayer-volume-button > svg {
	flex-shrink: 0;
}

.videoPlayer-volume-button:hover {
	width: 150px;
}

.videoPlayer-volume-bar {
	flex-grow: 1;
	width: 150px;
	height: 4px;
	background: #0009;
}

.videoPlayer-volume-bar > div {
	height: 100%;
	background: #fff;
}

div[class^="videoPlayer-segment-"] {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	background-color: #ff0000aa;
	pointer-events: none;
}

.videoPlayer-segment-opening {
	background-color: #00FFFFaa !important;
}

.videoPlayer-segment-ending {
	background-color: #0202EDaa !important;
}

.videoPlayer-skipButton {
	all: unset;
	position: absolute;
	right: 24px;
	bottom: 20%;
	font-size: 1.2rem;
	background-color: #0009;
	height: 48px;
	border-radius: 24px;
	padding: 0 16px;
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	transition: scale 100ms ease-in-out;
	cursor: pointer;
}

.videoPlayer-skipButton:hover {
	scale: 110%;
	background-color: #ffff;
	color: #000;
}

.videoPlayer-skipButton:active {
	scale: 90%;
}