.videoPlayer {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 100;
}

.videoPlayer-player,
.videoPlayer video,
.videoPlayer canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.videoPlayer-player {
	pointer-events: unset !important;
}

.videoPlayer-info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	height: 64px;
	display: flex;
	gap: 16px;
	align-items: center;
	padding: 8px 8px;
	background-color: #0008;
}

.videoPlayer-title {
	font-size: 1.2rem;
	font-weight: bold;
}

.videoPlayer-subtitle {
	font-size: .9rem;
}

.videoPlayer-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	height: 64px;
	display: flex;
	gap: 16px;
	align-items: center;
	padding: 8px 8px;
	background-color: #0008;
}

.videoPlayer-button {
	width: 48px;
	height: 48px;
	padding: 8px;
	border-radius: 24px;
	transition: 100ms all ease;
	cursor: pointer;
}

.videoPlayer-button:hover {
	background-color: #6665;
}

.videoPlayer-button:active {
	background-color: #3335;
}

.videoPlayer-button:not(.videoPlayer-menuButton):active {
	scale: 90%;
}

.videoPlayer-button svg {
	width: 32px;
	height: 32px;
}

.videoPlayer-currentTime {
	font-weight: bold;
}

.videoPlayer-scrubber {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 64px;
	width: 100%;
	background: #fff2;
}

.videoPlayer-scrubber-bar {
	height: 4px;
}

.videoPlayer-scrubber-bar:hover {
	height: 8px;
}

.videoPlayer-scrubber-bar .played {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	background-color: #fff;
}

.videoPlayer-scrubber-bar .buffered {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	background-color: #fff5;
}

.videoPlayer-menuButton {
	position: relative;
}

.videoPlayer-button-menu {
	background: #000D;
	position: absolute;
	bottom: 100%;
	left: -100px;
	width: 250px;
}

.videoPlayer-button-menu-title {
	font-weight: bold;
	padding: 8px 12px;
	border-bottom: 1px solid #fff;
}

.videoPlayer-button-menu-list {
	max-height: 200px;
	overflow-y: scroll;
}

.videoPlayer-button-menu-item {
	padding: 8px 12px;
}

.videoPlayer-button-menu-item.active {
	background-color: #fff3;
}

.videoPlayer-button-menu-item:hover {
	background-color: #fff5;
}