::root {

}

body {
	background: #111;
	color: #fff;
	font-family: sans-serif;
	margin: 0;
}

* {
	box-sizing: border-box;
	user-select: none;
}

code {
	user-select: all;
}

.selectable {
	user-select: text;
}

.flex-divider {
	flex-grow: 1;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.lucide-loader {
	animation: spin 2s linear infinite;
}